@CHARSET "UTF-8";
input {
	color: red;
}
img {
	height: 15px;
	width: 15px;
}
#ros {
	font-weight: bold;
	color: red;
}
#rosu {
	color: red;
}
#verde {
	color: green;
}
#undeline {
	text-decoration: underline;
}
#punctA {
}
#checkA {
	float: left;
	display: inline-block;
	margin-left: 4%;
}